/data/results/
/data/models/
/data/params/
/data/signalPlots/
bars/
bidask/
/data/btapi/
/data/c2api/
/data/ibapi/
/data/signals/
/data/paper/
/data/portfolio/
results/
*.pyc
*.sw[opqrstuvwxyz]
.DS_Store
