/data/results/
/data/models/
/data/params/
/data/signalPlots/
/data/bars/
/data/bidask/
/data/btapi/
/data/c2api/
/data/ibapi/
/data/paper/
results/
bidask/
bars/
*.pyc
*.sw[opqrstuvwxyz]
.DS_Store

django/feed/migrations/*
