<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="AXD-ISAPI-4.0_32bit" />
            <remove name="AssemblyResourceLoader-Integrated-4.0" />
            <remove name="aspq-ISAPI-4.0_64bit" />
            <remove name="aspq-ISAPI-4.0_32bit" />
            <remove name="aspq-Integrated-4.0" />
            <add name="django" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\virtualenvs\tsdp\Scripts\python.exe|C:\virtualenvs\tsdp\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
