{% load staticfiles %}
<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <title>Global Systems Management</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top text-center">
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="GSM" width="80" height="80">
            </a>
            {% if user.is_authenticated %}
                <a class="navbar-text navbar-left" href="{% url 'profile' user.username %}">{{ user.username}}</a>
                <a class="navbar-text navbar-left" href="{% url 'logout' %}">logout</a>
            {% else %}
                <a class="navbar-text navbar-left" href="{% url 'login' %}">login</a>
            {% endif %}
        </nav>
    <main class="container container--mw700" roles="main">
        {% block content %}
        {% endblock %}

    </main>
    </body>
</html> 