{% extends 'base.html' %}
{% load staticfiles %}


        
{% block content %}
<h1>GSM</h1>
<div class="row">
{% for treasure in treasures %}
    <div class="col-md-4">
        <a href="/{{treasure.CSIsym}}/">
            <div class="panel-heading">
                <h2 class="panel-title">{{ treasure.CSIsym }} </h2>
            </div>
            
            <div class="panel-body">
                <p> {{treasure.Desc}} </p> 
                {% if treasure.Multiplier > 0 %}
                    <p> {{ treasure.Multiplier }}</p>
                {% else %}
                    <p> Unknkown </p>
                {% endif %}
            </div>
        </a>
    </div>
{% if forloop.counter|divisibleby:3 %}
    </div><div class="row">
{% endif %}
{% endfor %}
</div>
<div class="treasure panel panel-default">
    <div class ="panel-heading">
        <h3 class="panel-title">Add Treasure</h3>
    </div>
    <div class="panel-body">
        <form action="post_url/" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}


